.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 70%;
    background-color: #FFF;
    font-size: max(12px, 1vw);
    border-radius: 10px;
}

.theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: max(10px, 1.5vw);
}

.heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.font-color{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;

}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-side span {
    display: flex;
    border: 1px solid #ccc;
    width:max(30px, 3.5vw);
    height: max(20px, 1.5vw);
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    margin-top:max(20px, 1.5vw);
}

button{
    width:max(50px, 5vw);
    height: max(20px, 2.5vw );
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save{
    background-color: #2072EF;
    color: white;
    border: none;
}

.change-theme{
    color:#2072EF;
}